:root {
    --font: sans-serif;
}
::selection {
   color: blue; 
}
header {
    font-family: var(--font);
    background-color:black;
    color: white;
font-size:30px; 
}
.nav-top {
    font-family: var(--font);
    color: white;
    background-color: brown;
}
body {
    font-family: var(--font);
    color: white;
    background-color:rgb(47, 41, 54);
}
.nav-bottom {
    background-color: aqua;
    color: white;
}
